.sidebar
  %ul
  - @matches.each do |girl|
    %li
      %img{ src: girl['photos'][0]['url'] }
      = girl['name']
      %input{ type: 'checkbox' }

.main
  - @online.each do |girl|
    .girl
      .meta
        %h2= [girl['name'], girl['age']].join(', ')
        %h3= girl['last_active']
        .profile= girl['bio']
      .pictures
        .main
          %a.photo{href: girl['photos'][0]['url'], title: girl['name'], data: {effect: "mfp-move-horizontal"}}
            %img{src: girl['photos'][0]['url']}
        .others
          - girl['photos'][1..-1].each do |photo|
            %a.photo{href: photo['url'], title: girl['name']}
              %img{src: photo['url']}
      .chat