.sidebar
  %ul
  - 15.times do
    %li
      Maria
      %input{ type: 'checkbox' }

.main
  - 5.times do
    .girl
      .meta
        %h2 Jessica, 24
        %h3 3 minutes ago
        .profile Christian medical device sales. Must know the difference between your and you're. Let's be honest though... The puppy is the selling point.
      .pictures
        .main
          %img{src: ''}
        .others
          %img{src: ''}
          %img{src: ''}
          %img{src: ''}
          %img{src: ''}
      .chat